<div *ngIf="match === undefined">
  <app-spinner></app-spinner>
</div>

<div class="container" *ngIf="match">
  <div class="flex-grid top rim spread">
    <span class="hide"></span>
    <span class="title"
      >{{ match.head2head.homeTeam.name }} vs
      {{ match.head2head.awayTeam.name }}</span
    >
    <span>
      <a
        [title]="match.match.competition.name + ' details'"
        [routerLink]="['/', match.match.competition.name]"
        [state]="{
          data: {
            name: match.match.competition.name,
            id: match.match.competition.id
          }
        }"
      >
        <svg-icon
          src="../../../assets/svg/clear-24px .svg"
          [svgStyle]="{ fill: 'white' }"
        >
        </svg-icon>
      </a>
    </span>
  </div>
  <div class="content-box">
    <div class="content-column">
      <div class="sub-heading">Teams</div>
      <div class="flex-grid-space content row col-width">
        <div class="content-box-small box-stretch">
          <div>{{ match.head2head.homeTeam.name }}</div>
          <div>
            Wins: <span>{{ match.head2head.homeTeam.wins }}</span>
          </div>
          <div>
            Draws: <span>{{ match.head2head.homeTeam.draws }}</span>
          </div>
          <div>
            Losses: <span>{{ match.head2head.homeTeam.losses }}</span>
          </div>
        </div>
        <div class="content-box-small box-stretch">
          <div>{{ match.head2head.awayTeam.name }}</div>
          <div>
            Wins: <span>{{ match.head2head.awayTeam.wins }}</span>
          </div>
          <div>
            Draws: <span>{{ match.head2head.awayTeam.draws }}</span>
          </div>
          <div>
            Losses: <span>{{ match.head2head.awayTeam.losses }}</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="image-container" class="hide">
        <div class="top-left">
          <div>
            Fotball / {{ match.match.competition.name }}
            {{ match.match.competition.area.name }}
          </div>
          <div>
            <div>{{ match.head2head.homeTeam.name }}</div>
            <div>{{ match.head2head.awayTeam.name }}</div>
          </div>
        </div>
        <img
          id="fotball"
          alt="fotball"
          src="../../assets/img/football-606235_640.jpg"
        />
      </div>
    </div>
    <div class="hide">
      <img
        id="logo-side"
        alt="Betsson-logo"
        src="../../assets/svg/betsson.brand-logo-grey_v3.svg"
      />
    </div>
  </div>
</div>
