@import "../../../styles.scss";

span {
  font-weight: $fat;
}

.sub-heading {
  text-transform: uppercase;
  padding: 3px 0 3px 8px;
  background: $primary;
}

#fotball {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 350px;
  height: auto;
}

img#logo-side {
  width: 100px;
  height: auto;
  padding: 20px 10px;
}

.col-width {
  width: 350px;
}

.content-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
}

.content-column {
  margin: 0 3px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 1000;
  color: white;
  text-align: left;

  :first-child {
    font-size: 10px;
    text-transform: uppercase;
  }
  :nth-child(2) {
    display: flex;
    flex-direction: column;

    > div {
      font-size: 20px;
    }
  }
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

svg {
  padding-right: 3px;
  size: 10px;
}

@media (max-width: 400px) {
  .spread {
    justify-content: space-around;
  }

  svg {
    float: right;
    padding-right: 20px;
  }

  title {
    float: right;
    padding-left: 20px;
  }

  .content-box {
    justify-content: center;
  }
}
