@import "../../../styles.scss";

.flex-grid {
  display: flex;
  height: 22px;
}

.box {
  margin: auto;
  width: 80%;
  background: $primary;
  text-decoration: none;
}

.col {
  flex: 1;
}

.above {
  padding-left: 8px;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

.top {
  background: $primary;
  height: 30px;
  display: flex;
  align-items: center;
}

.content {
  background: white;
  color: #000000;
  cursor: pointer;
  height: 66px;
  text-decoration: none;
}

.rim {
  border: 1px solid #d7d7d7;
  padding: 8px 0 8px 10px;
}
