<div *ngIf="Matches === undefined">
  <app-spinner></app-spinner>
</div>
<div *ngIf="Matches">
  <div class="box">
    <div class="flex-grid top">
      <div class="col above">League</div>
      <div class="col above">Home Team</div>
      <div class="col above">Away Team</div>
    </div>
    <div *ngFor="let match of Matches">
      <a
        class="flex-grid content"
        [routerLink]="['/' + state.name, match.id]"
        [state]="{ data: { id: match.id } }"
      >
        <div class="col rim">{{ state.name }}</div>
        <div class="col rim">{{ match.homeTeam }}</div>
        <div class="col rim">{{ match.awayTeam }}</div>
      </a>
    </div>
  </div>
</div>
