@import "../../../styles.scss";

.above {
  padding-left: 8px;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.top {
  background: $primary;
  height: 30px;
  display: flex;
  align-items: center;
}

.content {
  background: white;
  color: #000000;
  cursor: pointer;
  height: 66px;
  text-decoration: none;
}

.live {
  color: #979797;
  text-transform: uppercase;
}


@media (max-width: 400px) {
 

  a.bag {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: white;
    color: #000000;
    cursor: pointer;
    height: auto;
    margin: 8px 0;
    background: $background;
  }

  .frame {
    display: flex;
    flex-direction: row;
    background: white;
    > div {
      display: flex;
      flex-direction: column;
      padding: 8px;
      border: 1px solid #d7d7d7;
      width: 100px;
      :first-child {
        color: #979797;
      }
    }
  }
}
