<header>
  <div class="container">
    <div routerLinkActive="active">
      <a routerLink="/" class="logo"
        ><img
          img="nav-logo"
          alt="logo"
          src="./../assets/svg/betsson.brand-logo-grey_v3.svg"
      /></a>
    </div>
  </div>
  <div class="container cont-lower">
    <nav>
      <ul>
        <li><a id="pointer-active" href="#" routerLink="/">Home</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
