<div *ngIf="matches === undefined">
  <app-spinner></app-spinner>
</div>
<div *ngIf="matches">
  <div class="box">
    <div class="flex-grid top">
      <div class="col above">League</div>
      <div class="col above">Home Team</div>
      <div class="col above">Away Team</div>
    </div>
    <div *ngFor="let match of matches">
      <a
        class="flex-grid content"
        [routerLink]="['/' + state.data.name, match.id]"
        [state]="{ data: { id: match.id } }"
      >
        <div class="col rim">{{ state.data.name }}</div>
        <div class="col rim">{{ match.homeTeam.name }}</div>
        <div class="col rim">{{ match.awayTeam.name }}</div>
      </a>
    </div>
  </div>
</div>
