<div *ngIf="Competitions === undefined">
  <app-spinner></app-spinner>
</div>

<div *ngIf="Competitions">
  <div id="holder">
    <h1>Competitions</h1>
  </div>
  <ul *ngIf="Competitions">
    <li *ngFor="let comp of Competitions">
      <a
        [title]="comp.name + ' details'"
        [routerLink]="['/', comp.name]"
        [state]="{ data: { name: comp.name, id: comp.id } }"
      >
        <p class="name">{{ comp.name }}</p>
        <p class="country">{{ comp.country }}</p>
      </a>
    </li>
  </ul>
</div>
